<!DOCTYPE html>

<html>
<head>
    <title>Upload</title>
    <link rel='stylesheet' type='text/css' href='static/css/styles.css' media='screen'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

    <div id="wrap">
        <input type="text" name="url_name" id="url_name" autocomplete=off placeholder="Enter a Meetup ID">
        <button id="bttn" type="submit" class="btn btn-default">Submit</button>
    <div id="form_wrap">
        <img id='thumb' src="">
        <p id="groupid">Group ID: </p>
        <p id="desc">Group Description: </p>



    </div>
    </div>



</body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src='/static/js/scripts.js'></script>
</html>