html {

  height: 100%

  }

body {
  height: 100%;
}


#wrap {

    display: flex;
    justify-content: center;
    align-items: center;
    font-align: center;

}

#form_wrap {
    width: 30%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-align: center;

}