
@font-face {
  font-family: "Arvo-Regular";
  src: url('../../static/fonts/Arvo-Regular.ttf');
}


* {
  font-family: "Arvo-Regular", sans-serif;
}

/** HEADER **/


header {
margin: auto;
width: 50%;
height: 70px;
text-align: center;
color: black;
font-size: 200%;
border-style: solid;
border-color: black;
margin-bottom: 14px;
margin-top: 20px;
overflow: none;
padding-top:20px;
}


/**Form Div**/

.container {
display: flex;
justify-content: center;

}


























